body {
  font-family: 'Quicksand', sans-serif;
  background-color: #faf8f2;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #4b6e4b;
  text-align: center;
  font-family: 'Patrick Hand', cursive;

}

p {
  text-align: center;
  font-size: 1.2rem;
}
